<?xml version="1.0" encoding="utf-8"?><!-- 29/11/2016 добавлено ограничение android:installLocation="internalOnly -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khomutov_andrey.hom_ai.notes"
    android:versionCode="5"
    android:versionName="1.3">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".AppWidget"
            android:icon="@drawable/ic_stat_notufy_list"
            android:label="@string/widgetLabel">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>
        <receiver android:name=".AlarmNotifyReceiver" />


        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>


        <activity
            android:name=".NotificationSetting"
            android:label="@string/title_activity_notify_settings"
            android:theme="@style/SettingTheme"/>
        <!--
        <activity
            android:name=".SettingWidgetActivity"
            android:label="@string/title_activity_setting_widget"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        -->
    </application>

</manifest>